.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(201, 201, 201);
    padding: 10px;
    padding-left: 150px;
    padding-right: 50px;
}
.airbnb{
    display: flex;
    align-items: center;
}


.logo{
    color: #ff385c;
    font-size: 35px;

}
.logotxt {
    color: #ff385c;
    font-size: 25px;   
}

.search{
    border: 1px solid rgb(156, 156, 156);
    padding: 5px;
    padding-left: 26px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-radius: 40px;
    gap: 20px;
    align-items: center;
    gap: 100px;
}
.search:hover{
    box-shadow: 0px 2px 3px 3px #dbdbdb65;
}
.search > p{
    font-size: 1.5rem;
}
.searchlogo{
        transform: rotate(-90deg);
        color: #ff385c;
        font-size: 34px;
        margin-left: 15px;
}

/* header css */
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
}
.startheading{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.logoheading{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.7rem;
}
.sideheading{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.7rem;
}
.sideheading > p {
    text-decoration: underline;
}
.textheading{
    display: flex;
    gap: 5px;
    text-decoration: underline;
    font-size: 1.7rem;
}

.rightheading{
    display: flex;
    gap: 20px;
}
.startheading > h1 {
    font-size: 3.4rem;
    font-weight: 100;
}

.cardimg{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.cardimg > img{
    max-width: 500px;
    height: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.imgitems{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 8px;
}

.imgitems > img {
    max-width: 295px;
    min-height: 155px;
}
.conerradius1{
    border-top-right-radius: 20px;
}
.conerradius2{
    border-bottom-right-radius: 20px;
}